#######################
# IDE FILES
#######################
.idea
*.ipr
*.iml

#######################
# NODE FILES
#######################
node_modules
npm-debug.log
.npm-debug.log

#######################
# OSX FILES
#######################
.DS_Store

